**/bin/
**/obj/
.vs/
*.csproj.user
Ben/Ben.csproj.user
Ben.Client/Ben.Client.csproj.user
Ben.Client/Properties/launchSettings.json
Ben.Client/Package.StoreAssociation.xml
Ben.Client/Properties/launchSettings.json
Xcode Stubs/Ben/Ben.xcodeproj/project.xcworkspace/xcuserdata/timedalatpour.xcuserdatad/UserInterfaceState.xcuserstate
Xcode Stubs/Ben/Ben.xcodeproj/xcuserdata/timedalatpour.xcuserdatad/xcschemes/xcschememanagement.plist
*.binlog
publish/Ben.Client.ipa
publish/Packaging.log
.DS_Store
*.ips
