<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ben.Client.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>03B7BEFF9BCC7FDB9911EFD3F857A6830326F5F7</string>
				<key>dateExpires</key>
				<string>5/1/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QNQ323Z7FW.com.edalatpour.ben</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>QNQ323Z7FW</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>QNQ323Z7FW.com.edalatpour.Ben</string>
					<string>QNQ323Z7FW.com.microsoft.adalcache</string>
				</array>
			</dict>
			<key>name</key>
			<string>Ben.Client.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aef421ae-5037-430d-96bc-8fdc2700dce2</string>
				<key>dateExpires</key>
				<string>5/1/27</string>
				<key>name</key>
				<string>BenPlannerAppStore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QNQ323Z7FW</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
